.nav-bar {
    position: fixed;
    width: 100%;
    height: 64px;
    display: flex;
    gap: 12px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navbar-color);
    padding: 0 12px;
    z-index: 10;

    .left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
    }

    .middle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .title {
        font-size: 24px;
        font-weight: bold;
        white-space: nowrap;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }

    .link {
        color: var(--text-primary-color);
        font-size: 18px;
        font-weight: normal;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
            color: var(--navbar-hover-color);
            text-decoration: underline;
        }
    }

    .icon {
        cursor: pointer;
        font-size: 24px;
        border-radius: 50%;
        color: var(--text-primary-color);
        transition: transform ease 0.2s;

        &:hover {
            transform: scale(0.95);
            color: var(--navbar-hover-color);
        }
    }

    .profile {
        padding: 8px;
        color: var(--text-invert-color);
        background-color: var(--text-primary-color);

        &:hover {
            transform: scale(1);
        }
    }


    .menu-btn {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 8px;
        cursor: pointer;
        
        span {
            height: 4px;
            background: var(--text-primary-color);
            transition: width 0.3s ease-in-out;
            border-radius: 2px;
        }

        span:nth-child(1) { width: 32px; }
        span:nth-child(2) { width: 22px; }
        span:nth-child(3) { width: 14px; }

        &.active span,
        &:hover span {
            width: 32px;
        }
    }


}











