.notification-panel.bg-blur {
	align-items: start;
	justify-content: end;
	padding: 0;
	backdrop-filter: blur(3px);

	.notification-panel {
		height: 100%;
		width: 100%;
		max-width: 400px;
		text-align: left;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-left: 2px solid rgba(150, 150, 150, 0.8);
		background-color: var(--sidebar-open-color);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
		overflow: hidden;

		@media (max-width: 640px) {
			border: none;
			border-radius: 0;
			max-width: none;
		}

		.header,
		.footer {
			display: flex;
			align-items: center;
			height: 35px;
			width: 100%;
			gap: 5px;
			padding: 0 20px;
			background-color: rgba(150, 150, 150, 0.3);
		}

		.header {
			h1 {
				flex: 1;
				font-size: 16px;
				font-weight: 500;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.refresh-btn {
				padding: 3px;
				font-size: 20px;
				cursor: pointer;
				border-radius: 50%;
				transition: all ease 0.2s;

				&:hover {
					transform: rotate(-180deg);
					background-color: rgba(150, 150, 150, 0.3);
				}
			}

			.cancel-btn {
				position:unset;

				&:hover {
					transform: scale(1.1);
				}
			}
		}

		.footer a {
			text-decoration: none;

			&:not(:hover) {
				color: var(--text-primary-color);
			}
		}

		.container {
			height: calc(100% - 35px - 35px);
			padding: 20px;
			display: flex;
			flex-direction: column;
			gap: 15px;
			overflow: auto;
		}

		.notification-item {
			width: 100%;
			height: fit-content;

			h1 {
				font-size: 18px;
				font-weight: bold;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			h2 {
				font-size: 14px;
				color: gray;
			}

			p {
				font-size: 14px;
				text-align: justify;
				margin-bottom: 10px;
				color: var(--text-secondary-color);
				display: -webkit-box;
				-webkit-line-clamp: 4; /* Set max number of lines */
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			div:first-of-type {
				display: flex;
				justify-content: space-between;
				gap: 10px;
			}

			.separator {
				width: 100%;
				height: 2px;
				margin-top: 15px;
				background: rgba(150, 150, 150, 0.5);
			}

			&:last-child .separator {
				display: none;
			}
		}
	}
}