.bg-blur.fade-in {
	animation: fade-in 0.2s ease-out;
}

.bg-blur.fade-out {
	animation: fade-out 0.2s ease-out;
}

.settings-panel.slide-in {
	animation: slide-up-in 0.2s ease-out;
}

.settings-panel.slide-out {
	animation: slide-up-out 0.2s ease-out;
}

.bg-blur {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	padding: 40px;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px); /* blur effect */
	z-index: 11; /* One index more then Navbar */
}

.settings-panel {
	position: relative;
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 40px 30px;
	border-radius: 8px;
	gap: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	border: 2px solid rgba(200, 200, 200, 0.3);
	color: var(--text-primary-color);
	background: var(--panel-transparent-color);
	backdrop-filter: blur(10px); /* blur effect */

	h1 {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 10px;
		font-family: 'M PLUS Rounded 1c', sans-serif;
	}

	h2 {
		font-size: 18px;
		font-weight: normal;
	}

	.cancel-btn {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 20px;
		padding: 2px;
		border-radius: 50%;
		cursor: pointer;
		transition: all ease 0.2s;

		&:hover {
			color: red;
			transform: scale(1.2);
			background-color: rgba(150, 150, 150, 0.2);
		}
	}

	.toggle-container {
		width: 100%;
		display: flex;
		padding: 0px 10px;
		align-items: center;
		justify-content: space-between;
	}

	.separator {
		width: 100%;
		height: 2px;
		background: rgba(150, 150, 150, 0.2);
	}
}
