.pnf.page-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .page {
    justify-content: center;
  }

  .text {
    color: white;
    font-weight: 500;
    font-family: 'M PLUS Rounded 1c', sans-serif;

    h2 {
      font-size: 24px;
    }
  }

  .searchbar-holder {
    position: absolute;
    width: 100%;
    max-width: 740px;
    top: 16px;
    padding: 0 12px;
  }

  .footer-line {
    position: absolute;
    height: 2px;
    width: calc(100% + 10px);
    transform: translate(-5px, -12px);
    background: rgba(150, 150, 150, 0.2);
    pointer-events: none;
  }
}