._loading {
	display: flex;
	flex: 1;
	align-items: center;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.8;  
}

._loading::after {
  content: "";
  animation: dotCycle 1.2s infinite steps(1);
}